<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="form-inline">
        <div class="form-group">
            <label for="ubigeo">Archivo Ubigeo</label>
            <input id="ubigeo" type="file" (change)="changeFile($event)">
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <pre>
        {{dataArchivo}}
      </pre>
    </div>
    <div class="col-md-12">
      <h2>Departamentos</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Codigo Padre</th>
              <th>Descripcion Padre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let departamento of departamentos">
              <td>{{ departamento.codigo }}</td>
              <td>{{ departamento.nombre }}</td>
              <td>{{ departamento.codigoPadre }}</td>
              <td>{{ departamento.nombrePadre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <h2>Provincias</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Codigo Padre</th>
              <th>Descripcion Padre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let provincia of provincias">
              <td>{{ provincia.codigo }}</td>
              <td>{{ provincia.nombre }}</td>
              <td>{{ provincia.codigoPadre }}</td>
              <td>{{ provincia.nombrePadre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-12">
      <h2>Distritos</h2>
      <div class="table-responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Codigo</th>
              <th>Nombre</th>
              <th>Codigo Padre</th>
              <th>Descripcion Padre</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let distrito of distritos">
              <td>{{ distrito.codigo }}</td>
              <td>{{ distrito.nombre }}</td>
              <td>{{ distrito.codigoPadre }}</td>
              <td>{{ distrito.nombrePadre }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
